.App {
  text-align: center;
}

.login input {
  display: block;
  margin: 10px;
}
.screen {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.modal {
  background-color: rgb(222, 220, 220);
}
.list-item {
  text-align: left;
  width: 300px;
  list-style-type: none;
}
